.navbar-custom {
    background-color: burlywood;
    
}
.container-fluid{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7XqNTeoJavCDSImAcuhCVI9txOPGoCcCm3g&usqp=CAU");
    background-size: cover;
    background-repeat: no-repeat;

}

